# Ignore cmake related stuff
cmake*
CMake*

# Ignore build images
*.iso
*.img
*.vdi
*.vmdk

# Ignore editor related folders
.vscode
.idea

# Ignore immediate files
bin
build

 # Ignore the UEFI firmware
*.fd